nav {
    padding: 24px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: goldenrod;
}

body {
    margin: 0px;
    padding: 0px;
}

img {
    max-height: 200px;
}

footer {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 48px;
    padding-right: 48px;
    font-size: 150%;
    background-color: blueviolet;
}

main {
    padding: 16px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

a {
    text-decoration: none;
    color: green;
}

h1 {
    color: violet
}
